---
---

<div>
  <p>
    Here are a few things I enjoy:
  </p>
  <ul class="mt-5">
     <li>
      <strong>Good Software.</strong>
      I think regardless of the complexity software should be understandable. 
    </li>
    <li>
      <strong>Good Design.</strong>
      I really love good design. Not just for web, good architecture, well though design products, design that makes me feel good.
    </li>
    <li>
      <strong>Music.</strong>
      Who doesn't? Besides from listening music. I play drums. Learning guitar and synthesizing. 
    </li>
    <li>
      <strong>Sports.</strong>
      I used to be couch potato but in the last few years I dedicated to do sports. Such as GYM, swimming, football and kayaking.
    </li>
    <li>
      <strong>Movies.</strong> I think good movie is a more than a movie. It's a story, it's a form of art and like literature you can read movies. That's what I'm doing lately. 
    </li>
    <li>
      <strong>Cycling.</strong>I really love cycling especially summer times. There's no better way to explore a city than by bike.
    </li>
    
  </ul>
</div>
