---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Serhat Sezer
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/serhatsezer"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="Serhat Sezer on GitHub"></i>
        <span>GitHub</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://twitter.com/serhatsezer"
        aria-label="Serhat on Twitter"
      >
        <i class="fa-brands fa-twitter" aria-hidden="true" title="Serhat on Twitter"></i>
        <span>Twitter</span>
      </a>
    </div>
  </div>
  <div>
    <p class="mb-8">
      Hello! This is yet another blog where a software engineer share his thoughts about anything. This blog came out when I was learning <a href={"https://astro.build"} target="_blank">astro</a>. It's static site generator and doing good job for genarting static HTML web pages. 
    </p>
  </div>
</section>
