---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="tracking-tighter font-extrabold uppercase text-center text-3xl md:font-extrabold md:text-6xl xtracking-tighter p-2"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
      Serhat Sezer
    </span>
    </h1>
    <h2 class="text-center mb-5 text-lg text-gray-600 dark:text-white">      
      Software Engineer
    </h2>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/serhatsezer"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="Serhat Sezer on GitHub"></i>
        <span>GitHub</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://twitter.com/serhatsezer"
        aria-label="Serhat on Twitter"
      >
        <i class="fa-brands fa-twitter" aria-hidden="true" title="Serhat on Twitter"></i>
        <span>Twitter</span>
      </a>
    </div>
  </div>
  <div>
    <p class="mb-8">
     Hi! Welcome to my blog, I'm Serhat experienced software engineer who loves to work on meaningful projects. I have experience working with iOS with Swift and Objective-C. Besides native iOS development, I have worked with Flutter and React-Native projects as well. I love experimenting with different technologies. Even though I mostly worked with iOS development. I have experience working with web development tools and languages as well.
    </p>
  </div>
</section>
